.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ustaw wysokość kontenera na 100% wysokości widoku */
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    font-size: 22px;
    font-weight: 500;
    width: 200px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 125%; /* Position the tooltip to the right of the text */
    transform: translateY(-50%); /* Center the tooltip vertically */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%; /* Position the arrow to the left of the tooltip */
    transform: translateY(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: transparent blanchedalmond transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip-icon {
    border: 1px dotted black;
    background-color: orange;
    border-radius: 20px;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
    margin: 0px 20px 0px 0px;
  }